@import '../variables.css';

h1{
    font-family: 'Minzeeca Bold';
    margin: 0;
}
span{
    font-family: 'Minzeeca Light';
    margin-top: 1em;
    margin-bottom: 1.3em;
}
.logo {
    height: 20em;
}