#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@import 'variables.css';

body{
  background-image: linear-gradient(to bottom, var(--color-claro1),var(--color-oscuro3));
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
.info{
  background-color: var(--color-oscuro3);
  border-radius: 5px;
  margin-top: 50px;
  padding: 1em;
}

.button{
  width: 150px;
  background-color: var(--color-oscuro2);
  margin-bottom: 15px;
  font-size: 20px;
  transition: background-color 0.5s, border-color 0.5s;
}
.button:hover{
  background-color: var(--color-claro3);
  border-color: #fff;
}

.desc{
  padding: 5px;
}

/* Estilo base para el elemento */
.info {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}