#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@import 'variables.css';

body{
  background-image: linear-gradient(to bottom, var(--honey-claro),var(--honey-oscuro3));
}

.card {
  padding: 2em;
}
.info{
  background-color: var(--honey-oscuro3);
  border-radius: 5px;
  margin-top: 50px;
  padding: 1em;
}

.button{
  width: 150px;
  background-color: var(--honey-oscuro2);
  margin-bottom: 15px;
  font-size: 20px;
  transition: background-color 0.5s, border-color 0.5s;
}
.button:hover{
  background-color: var(--honey-claro3);
  border-color: #fff;
}
